/* UMUM */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(234, 249, 253);
}
.container .content {
  text-align: center;
}
.header-content h2.font-header {
  font-size: 25px;
  color: #13287e;
  padding: 15px;
}
p.text-content {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 70px;
  opacity: 80%;
}
/* Untuk tampilan mobile / Hanphone */
/* <!-- 4. Awal Section  How it works--> */
.service_icon {
  padding-top: 20px;
}
.colored-icon {
  padding: 30px;
  border: 1px solid #00dcd8;
  background-image: linear-gradient(to right, #21d397 0%, #7450fe 100%);
  border-radius: 50%;
}
/* h6 & h6.bold umum 
-> h6 & h6.bold how it works, h6 & h6.bold our services,  */
h6 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #13287e;
  font-family: "Poppins", sans-serif;
}
h6.bold {
  font-weight: 600;
}

/* <!-- 5. Awal Section  Core Our Features--> */
img.img-cof-about {
  width: 100%;
  padding-bottom: 15px;
}
img.img-cof-feature {
  padding-top: 15px;
}

/* <!-- 6. Awal Section Our Services --> */
.card .header {
  height: 250px;
  background-color: #ffffff;
}
/* card umum 
-> card how it works, card our services,  */
.card {
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: #aaaaaa;
}
.card .content {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
img.img-our-services {
  max-width: 100%;
  height: auto;
  align-items: center;
  padding-top: 25px;
}

/* <!-- 7. Awal Section Frequently Questions --> */
/* image frequently */
.frequntly {
  height: 230px;
  padding-bottom: 15px;
}
.btn-frequntly {
  width: 100%;
  text-align: left;
}
/* tombol umum 
-> btn frequntly, btn our pricing plans */
.btn-primary {
  color: #fff;
  border: 1px solid #f2f4f8;
  border-top: 1px solid #f2f4f8;
  margin-bottom: 15px;
  border-radius: 25px;
  background-image: linear-gradient(to right, #21d397 0%, #7450fe 100%);
  padding: 5px 25px;
  font-weight: 600;
  background-size: 200% auto;
}

/* <!-- 8. Awal Section Our Pricing Plans  / oop --> */
.content.card-our-pricing-plans {
  justify-content: center;
}
.card-opp {
  width: 270px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-top: 40px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
}
.card-opp-noactive {
  width: 270px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-top: 40px;
}
h5.h5-oop {
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h1.h1-oop {
  font-size: 48px;
  margin-bottom: 25px;
  line-height: 1;
  color: #3964f9;
}
p.p-oop {
  color: #888888;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1;
}
.table-oop {
  box-sizing: border-box;
  padding-top: 30px;
  margin-bottom: 20px;
}
p.p-sub-opp {
  color: #888;
}
.pad-opp {
  padding-bottom: 30px;
}

/* <!-- 9. Awal Section Loved By Our Clients --> */
.single-testimonial {
  border-radius: 15px;
  border: 1px solid #eee;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.header-img {
  padding: 25px;
}
.testimonial-image {
  height: 100px;
  width: 100px;
  margin: auto;
}
.testimonial-image img {
  border-radius: 50%;
}
.img-lovly {
  max-width: 100%;
  height: auto;
  align-items: center;
}
.testimonial-description {
  padding: 15px;
}
.admin_text {
  padding-top: 20px;
}
.ptd {
  color: #888888;
  font-weight: 500;
  font-size: 15px;
}

/* <!-- 10. Awal Section Footer --> */
footer {
  padding-top: 50px;
  background-color: #4934d4d8;
  padding-bottom: 100px;
}
.section-footer {
  display: block;
  margin: 20px auto;
  background-color: #0d6efd;
  color: #ffffff;
  padding: 50px;
  text-align: left;
  justify-content: space-between;
  border: 1px;
  border-radius: 5px;
  margin-bottom: 100px;
}
.container-footer {
  text-align: left;
}
.img-robovision {
  width: 40px;
}
.text-robovision {
  font-size: 15pt;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.text-header-robovision {
  color: #ccc;
  font-size: 11pt;
}
.kolom {
  box-sizing: border-box;
  color: #fff;
}
.kolom.robovision {
  flex: 3.5;
  padding-right: 10px;
}
.kolom.privacy-tos {
  flex: 3;
}
.kolom.navigate {
  flex: 2.5;
}
.kolom.contact-us {
  flex: 3;
}

.readmore .rounded-pill {
  white-space: nowrap;
}
.kolom a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
}

a p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*  | *********** RESPONSIVE  tampilan website ********** |*/
@media (min-width: 600px) {
  /* <!-- 4. Awal Section  How it works--> */
  .card-hiw {
    display: flex;
  }
  .service_icon {
    padding-top: 20px;
  }
  .colored-icon {
    padding: 30px;
    position: relative;
    border: 2px solid #00dcd8;
    background-image: linear-gradient(to right, #21d397 0%, #7450fe 100%);
    max-width: 140px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  /* <!-- 5. Awal Section  Core Our Features--> */
  .content-cof {
    display: flex;
    align-items: center;
  }
  .img-cof-about {
    height: 90%;
  }
  .modal-cof {
    box-sizing: border-box;
  }
  .sub-cof {
    align-items: center;
  }
  .img-cof-feature {
    max-width: 57px;
    height: auto;
  }
  .card-body {
    text-align: left;
  }

  /* <!-- 6. Awal Section Our Services --> */
  .card {
    display: flex;
  }
  .card-our-services {
    display: flex;
  }

  /* <!-- 7. Awal Section Frequently Questions --> */
  .content-frequntly {
    display: flex;
  }
  .frequntly {
    height: 450px;
  }
  .menu-frequntly {
    padding-left: 20px;
  }
  .btn-frequntly {
    width: 100%;
    text-align: left;
  }

  /* <!-- 8. Awal Section Our Pricing Plans  / oop --> */
  .card-our-pricing-plans {
    display: flex;
    justify-content: center;
  }

  /* <!-- 10. Awal Section Footer --> */
  .container-footer {
    display: flex;
    text-align: left;
  }
  .font-header {
    font-size: 30px;
    color: #13287e;
    padding: 15px;
    font-weight: 650;
  }

  .section-footer {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .readmore {
    margin: 12px;
  }
}
